[Desktop Entry]
Encoding=UTF-8
Name=bwrgo
Comment=bwrgo P2P Cryptocurrency
Exec=bwrgo-qt %u
Terminal=false
Type=Application
Icon=bwrgo128
MimeType=x-scheme-handler/bwrgo;
Categories=Office;Finance;
Name[en_US]=bwrgo-qt.desktop
