Source: bwrgo
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@bwrgocoin.info>
Uploaders: Holger Schinzel <holger@bwrgocoin.info>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.35),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.35),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.35),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.35),
 libboost-test1.48-dev | libboost-test-dev (>> 1.35),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.35),
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python
Standards-Version: 3.9.2
Homepage: https://bwrgocoin.io/
Vcs-Git: git://github.com/bwrgocoin/bwrgocoin.git
Vcs-Browser: https://github.com/bwrgocoin/bwrgocoin

Package: bwrgod
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 bwrgo is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. bwrgo uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. bwrgo Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, bwrgod, and the CLI tool
 bwrgo-cli to interact with the daemon.

Package: bwrgo-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 bwrgo is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. bwrgo uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. bwrgo Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides bwrgo-Qt, a GUI for bwrgo based on Qt.

Package: bwrgo-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 bwrgo is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. bwrgo uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. bwrgo Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides bwrgo-tx, a command-line transaction creation
 tool which can be used without a bwrgo daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
