[Unit]
Description=bwrgo's distributed currency daemon
After=network.target

[Service]
User=bwrgocore
Group=bwrgocore

Type=forking
PIDFile=/var/lib/bwrgod/bwrgod.pid
ExecStart=/usr/bin/bwrgod -daemon -pid=/var/lib/bwrgod/bwrgod.pid \
-conf=/etc/bwrgocore/bwrgo.conf -datadir=/var/lib/bwrgod -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
